node_modules
.env

# Sanity Functions
functions/**/.env*
functions/**/.build/
functions/**/node_modules/

# Graphify specific ignores
graphify-out/**/cache/
graphify-out/**/manifest.json
graphify-out/**/cost.json
